<div class="photoboard">
	<div class="row">
		<div class="col-md-12">
			<div id="carousel" class="carousel slide" data-ride="carousel">
				<!-- Menu -->
				<ol class="carousel-indicators">
					<li data-target="#carousel" data-slide-to="0" class="active"></li>
					<li data-target="#carousel" data-slide-to="1"></li>
					<li data-target="#carousel" data-slide-to="2"></li>
					<li data-target="#carousel" data-slide-to="3"></li>
				</ol>

				<!-- Items -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="img/background/1.jpg" alt="Slide 1" />
					</div>
					<div class="item">
						<img src="img/background/2.jpg" alt="Slide 3" />
					</div>
					<div class="item">
						<img src="img/background/3.jpg" alt="Slide 3" />
					</div>
					<div class="item">
						<img src="img/background/4.jpg" alt="Slide 4" />
					</div>
				</div> 
				<a href="#carousel" class="left carousel-control" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#carousel" class="right carousel-control" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="thumb">
				<img id="yourPic" src="img/background/2.jpg">					
			</div>
		</div>
		<div class="col-md-6">
			<div class="thumb">
				<img src="img/background/1.jpg">					
			</div>
		</div>
	</div>
</div>