<div id="mainContent" class="container">
	<div class="row">
		<div class="jumbotron">
			<p>Welcome to the best place to plan, organize, promote, and get involved in service activities in your area.  We have many resources available for you to begin organizing service projects around your community.</p>
			<p>You can see if there are any service opportunities around you by selecting an area on the map below.</p>
			<p><a class="btn btn-primary btn-lg pull-right" role="button">Spread The Word</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<map class="introMap" points="data.points" selectors="CIRCLE" callback="tools.search" zoom="12"></map>
		</div>
		<div class="col-sm-12 col-md-6" ng-include="'partials/site/photoboard.html'" ng-hide="data.opportunities"></div>
		<div class="col-sm-12 col-md-6" ng-show="data.opportunities">
			<div class="panel panel-warning">
				<div class="panel-heading">Opportunities in your area!</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="opp in data.opportunities">
							<a href="#/opportunity/view/{{opp.objectId}}">{{opp.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>