<div id="mainContent" class="container">
	<form ng-submit="tools.opportunity.save()">
		<div class="row" id="opportunity">
			<div class="col-lg-12" id="banner">
				<div media-manager="tools.opportunity.setPicture" class="bannerPicture" max-width="1200">
					<div ng-hide="temp.opportunity.picture" class="media">Add Picture</div>
					<img id="opportunityImgPreview"ng-show="temp.opportunity.picture" 
							ng-class="temp.opportunity.picture.class" 
							ng-src="{{temp.opportunity.picture.src}}" 
							title="{{temp.opportunity.picture.name}}">
				</div>
				<map points="data.points" zoom="16" selectors="MARKER" initmarker="true" callback="tools.opportunity.setGeo"></map>
				<input type="text" placeholder="A Catchy Title" ng-model="temp.opportunity.title">
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="oppOrganization" class="control-label">Organization</label>
					<input type="text" class="form-control" id="oppOrganization" placeholder="This will be a dropdown with a [+]" ng-model="temp.opportunity.organization">
				</div>
				<div class="form-group">
					<label for="oppStartDate" class="control-label">Start Date</label>
					<input type="date" class="form-control" id="oppStartDate" placeholder="Start Date" ng-model="temp.opportunity.startDate">
				</div>
				<div class="form-group">
					<label for="oppEndDate" class="control-label">End Date</label>
					<input type="date" class="form-control" id="oppEndDate" placeholder="End Date" ng-model="temp.opportunity.endDate">
				</div>
				<div class="form-group">
					<label for="oppAddress" class="control-label">Address</label>
					<input type="address" class="form-control" id="oppAddress" placeholder="Address" ng-model="temp.opportunity.address">
				</div>
				<div class="form-group">
					<label for="oppContact" class="control-label">Contact Information</label>
					<textarea class="form-control" id="oppContact" placeholder="Contact Information" ng-model="temp.opportunity.contact"></textarea>
				</div>
				<div media-manager="tools.opportunity.setPicture" class="banner">
					<span ng-show="temp.opportunity.picture">{{temp.opportunity.picture.name}}</span>
					<span ng-hide="temp.opportunity.picture">Add Picture</span>
				</div>
			</div>


			<div class="col-md-9">
				<div class="form-group">
					<label for="oppDescription" class="control-label">Description</label>
						<textarea class="form-control" id="oppDescription" rows="15" placeholder="A Catchy Description" ng-model="temp.opportunity.description"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" 
					ng-hide="temp.opportunity.picture.temp" value="Publish Opportunity">

					<input type="button" class="btn btn-inverse" 
					ng-show="temp.opportunity.picture.temp" title="Please wait for the picture to upload." value="Wait">
				</div>
			</div>
		</div>
	</form>
</div>